@font-face {
    font-family: 'Karmatic';
    src: url('Fonts/ka1.ttf') format('truetype');
    
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #494D5F;

}
.hdr{
    background-color: #0d0d0d;
}
.hdr h1{
    font-family: 'Karmatic',sans-serif;
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #39ff14;
    text-shadow: 0 0 5px #39ff14;
    
}



.container h2{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color:thistle;
   padding-top: 20px;
   padding-bottom: 20px;
   text-shadow: 0 0 20px #141a14;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.man{
    width: 210px;
    height: 150px;
    border: 5px solid black;
    box-shadow:0 0 20px rgba(169, 214, 169, 0.667);
}
.man img{
    padding-left: 60px;
    padding-top: 20px;
    width: 70px;
    height: 80px;
}
.man h3{
    padding-left: 60px;
    margin-left: 14px;
    font-weight: bold;
    padding-top: 10px;
}

.score{
    width: 220px;
    height: 150px;
}

.score h3{
    padding-left: 60px;
    margin-left: 14px;
    font-weight: bold;
    padding-top: 10px;
    font-size: large;
    font-weight:bolder;
}

.total{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.hscore h3{
    padding-right: 60px;
}
.hscore li{
    list-style: none;
    padding-left: 90px;
    padding-top: 15px;
    font-size: 40px;
}

.cscore h3{
    padding-left: 60px;
}
.cscore li{
    list-style: none;
    padding-left: 90px;
    padding-top: 15px;
    font-size: 40px;
}



.pc{
    width: 210px;
    height: 150px;
    border: 5px solid black;
    box-shadow:0 0 20px rgba(169, 214, 169, 0.667);
}
.pc img{
    width: 80px;
    height: 90px;
    padding-left: 60px;
    padding-top: 20px;

}
.pc h3{
    margin-left: 22px;
    font-weight: bold;
    padding-left: 60px;
}

.play{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.rock{
    width: 210px;
    height: 150px;
    border: 5px solid black;
}
.rock button{
    width: 100%;
    height: 100%;
    background-color: #6A4884FF;
    border: none    ;
}
.rock img{
    width: 80px;
    height: 90px;
    padding-left: 24px;
    padding-top: 5px;
}


.paper{
    width: 210px;   
    height: 150px;
    border: 5px solid black;
}
.paper button{
    width: 100%;
    height: 100%;
    background-color: #6A4884FF;
    border: none;
    
}
.paper img{
    width: 80px;
    height: 90px;
    padding-left: 60px;
    padding-top: 20px;
    padding-left: 24px;
    padding-top: 5px;
}


.scissors{
    width: 210px;
    height: 150px;
    border: 5px solid black;
}
.scissors button{
    width: 100%;
    height: 100%;
    background-color: #6A4884FF;
    border: none;
}
.scissors img{
    width: 90px;
    height: 100px;
    padding-left: 60px;
    padding-top: 20px;
    padding-left: 24px;
    padding-top: 5px;
}